---
import { getCollection } from "astro:content";

import PostSummary from "../../components/postSummary.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("terms");
  const descPosts = allPosts.sort(function (a, b) {
    a.title < b.title ? 1 : -1;
  });

  return paginate(descPosts, {
    pageSize: 20,
  });
}
const { page } = Astro.props;

var indexArr: any = [];

for (var i = 97; i <= 122; i++) {
  indexArr.push(String.fromCharCode(i).toUpperCase());
}
---

<Layout title={page.data.title} description={page.data.description}>
  <section class="index">
    {
      indexArr.map((info) => (
        <div class="index__links">
          <a onclick="">{info}</a>
        </div>
      ))
    }
  </section>

  <section class="post-summary-wrapper">
    {
      page.data.map((post) => (
        <PostSummary
          header={post.data.title}
          description={post.data.description}
          link={post.data.link}
        />
      ))
    }
  </section>
</Layout>

<style lang="scss">
  .post-summary-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 0 2rem;
  }

  .index {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1rem 6rem 1rem;
    display: flex;

    &__links {
      > a {
        font-size: 1.6rem;
        padding: 0 1rem 0 0;
      }
    }
  }
</style>
