---
import "../../styles/components/article.scss";

import Layout from "../../layouts/Layout.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import BackToTop from "../../components/BackToTop.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("/src/pages/posts/terms/*.{md,mdx}");
  const posts = allPosts.filter(
    (post) => !post.frontmatter.draft && post.frontmatter.slug
  );
  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<Layout
  title={post.frontmatter.title}
  description={post.frontmatter.description}
>
  <section class="article-wrapper">
    <Breadcrumbs
      home="/"
      current={post.frontmatter.link}
      title={post.frontmatter.title}
      terms="/terms"
    />
    <article class="article-title">
      <h2>{post.frontmatter.title}</h2>
      <p>{post.frontmatter.published}</p>
    </article>
    <post.Content />
  </section>
  <BackToTop />
</Layout>
