---
import { sortedResources } from "../resources";
import { getCollection } from "astro:content";

const posts = await getCollection("terms");

const sortedLatestPosts = posts
  .sort((a, b) => Date.parse(b.data.published) - Date.parse(a.data.published))
  .splice(0, 5)
  .filter((info) => !info.data.draft);

// const filteredPosts = sortedLatestPosts.filter((info) => !info.data.draft);
---

<section class="terms-wrapper">
  <div class="terms">
    <div class="terms__articles">
      <h2>Latest Terms</h2>
      {
        sortedLatestPosts.map((item) => (
          <div class="terms__articles-info">
            <h4>{item.data.title}</h4>
            <p>{item.data.published.toLocaleDateString("ro-RO")}</p>
            <p>{item.data.description}</p>
            <a href={item.data.link}>Read more</a>
          </div>
        ))
      }
      <div class="terms__links">
        <a class="view-all" href="/terms">View All</a>
      </div>
    </div>
    <div class="terms__articles">
      <h2>Free resources</h2>
      {
        sortedResources
          .map((item) => (
            <div class="terms__articles-info">
              <h4>{item.title}</h4>
              <p>{item.desc}</p>
              <a href={item.link} target="_blank" rel="noopener noreferrer">
                Read more
              </a>
            </div>
          ))
          .splice(0, 6)
      }
      <a class="view-all" href="/resources">View All</a>
      <button class="btn">Hello</button>
    </div>
  </div>
</section>

<style lang="scss">
  @use "../styles/abstracts/index.scss" as *;

  .terms-wrapper {
    @include flex-center;
  }
  .terms {
    @include flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 0 2rem;
    width: 100%;

    &__articles {
      max-width: 25rem;
      width: 100%;
      > h2 {
        @include h2;
        border-bottom: 1px solid $primary-color;
      }
      &-info {
        padding-top: 1rem;
        > h4 {
          font-size: 1.5rem;
        }
        > p {
          font-size: 1.2rem;
        }
        > a {
          @include read-more;
        }
      }
    }

    &__links {
      @include flex;
      align-items: center;
      justify-content: space-between;
    }
    .view-all {
      @include view-all;
    }
  }
</style>

<script>
  document.querySelector("btn")?.addEventListener("click", function () {
    let min = 0;
    let max = 10;

    console.log(Math.floor(Math.random() * (max - min) + min));
  });
</script>
