---
import { sortedPost } from "../resources";

const posts = await Astro.glob("../pages/posts/terms/*.{md,mdx}");
const sortedLatestPosts = posts
  .sort(
    (a, b) =>
      Date.parse(b.frontmatter.published) - Date.parse(a.frontmatter.published)
  )
  .splice(0, 5);
---

<section class="terms-wrapper">
  <div class="terms">
    <div class="terms__articles">
      <h2>Latest Terms</h2>
      {
        sortedLatestPosts.map((item) => (
          <div class="terms__articles-info">
            <h4>{item.frontmatter.title}</h4>
            <p>{item.frontmatter.published}</p>
            <p>{item.frontmatter.description}</p>
            <a href={item.frontmatter.link}>Read more</a>
          </div>
        ))
      }
      <a class="view-all" href="/terms">View All</a>
    </div>
    <div class="terms__articles">
      <h2>Free resources</h2>
      {
        sortedPost
          .map((item) => (
            <div class="terms__articles-info">
              <h4>{item.title}</h4>
              <p>{item.desc}</p>
              <a href={item.link} target="_blank" rel="noopener noreferrer">
                Read more
              </a>
            </div>
          ))
          .splice(0, 6)
      }
      <a class="view-all" href="/resources">View All</a>
    </div>
  </div>
</section>

<script>
  // import { freeResources } from "../resources";

  // const btn = document.querySelector("[random-post]");
  // btn?.addEventListener("click", function () {
  //   let min = 0;
  //   let max = freeResources.length;
  //   let randomArbitrary = Math.floor(Math.random() * (max - min) + min);
  //   btn.getAttribute("href");
  //   btn.setAttribute("href", freeResources[randomArbitrary].link);
  // });
</script>

<style lang="scss">
  @use "../styles/abstracts/index.scss" as *;

  .terms-wrapper {
    @include flex-center;
  }
  .terms {
    @include flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 0 2rem;
    width: 100%;

    &__articles {
      max-width: 25rem;
      width: 100%;
      > h2 {
        @include h2;
        border-bottom: 1px solid $primary-color;
      }
      &-info {
        padding-top: 1rem;
        > h4 {
          font-size: 1.5rem;
        }
        > p {
          font-size: 1.2rem;
        }
        > a {
          @include read-more;
        }
      }
    }
    .view-all {
      @include view-all;
    }
  }
</style>
