---
import { freeResources } from "../resources";

const posts = await Astro.glob("../pages/posts/terms/*.{md,mdx}");

const sortedLatestPosts = posts
  .sort(
    (a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date)
  )
  .reverse();
---

<section class="terms-wrapper">
  <a href="" random-post>aaaaa</a>
  <div class="terms">
    <div class="terms__articles">
      <h2>Latest Terms</h2>
      {
        sortedLatestPosts.map((item) => (
          <div class="terms__articles-info">
            <h4>{item.frontmatter.title}</h4>
            <p>{item.frontmatter.published}</p>
            <p>{item.frontmatter.description}</p>
            <a href={item.frontmatter.link}>Read more</a>
          </div>
        ))
      }
    </div>
    <div class="terms__articles">
      <h2>Free resources</h2>
      {
        freeResources.map((item) => (
          <div class="terms__articles-info">
            <h4>{item.title}</h4>
            <p>{item.desc}</p>
            <a href={item.link} target="_blank" rel="noopener noreferrer">
              Read more
            </a>
          </div>
        ))
      }
      <a href="/freeresources">View All</a>
    </div>
  </div>
</section>

<script>
  import { freeResources } from "../resources";
  console.log(freeResources);

  const btn = document.querySelector("[random-post]");
  btn?.addEventListener("click", function () {
    let random = Math.floor(Math.random() * 10);
    btn.getAttribute("href");
    btn.setAttribute("href", freeResources[random].link);
  });
</script>

<style lang="scss">
  @use "../styles/abstracts/index.scss" as *;

  .terms-wrapper {
    @include flex-center;
  }
  .terms {
    @include flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 0 2rem;
    width: 100%;

    &__articles {
      max-width: 25rem;
      width: 100%;
      > h2 {
        @include h2;
        border-bottom: 1px solid $primary-color;
      }
      &-info {
        padding-top: 1rem;
        > h4 {
          font-size: 1.5rem;
        }
        > p {
          font-size: 1.2rem;
        }
        > a {
          color: $thertiary-color;
          font-size: 1.2rem;
          font-weight: 600;
        }
      }
    }
  }
</style>
