---
import { Image } from "astro:assets";
import { footerLinks } from "../consts";
import Logo from "../assets/logo/codingtermslogo.png";
import { logo } from "../consts";
---

<footer class="footer-wrapper">
  <div class="footer">
    <div class="footer__logo">
      <a href="/">
        <Image
          src={Logo}
          alt={logo.alt}
          width={logo.width}
          height={logo.height}
        />
      </a>
      <p>Decode the Language of Programming</p>
    </div>
    {
      footerLinks.map((info) => (
        <div class="footer__links">
          <a href={info.link}>{info.name}</a>
        </div>
      ))
    }
  </div>
  <p style="color: #eee; margin-top: 4rem;">Coding Terms @2023</p>
</footer>

<style lang="scss">
  @use "../styles/abstracts/index.scss" as *;

  .footer-wrapper {
    @include flex-center;
    flex-direction: column;
    background-color: $primary-color;
    margin-top: 5rem;
    padding: 3rem 0 3rem 0;
  }

  .footer {
    @include flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 85rem;
    width: 100%;

    &__logo {
      padding: 2rem 1rem;
      > p {
        @include footer-para;
      }
    }

    &__links {
      @include flex-center;
      gap: 2rem;
      // > h4 {
      //   @include h4;
      //   color: $white;
      //   letter-spacing: 0.5px;
      // }

      > a {
        @include footer-links;
      }
    }
  }

  @media (max-width: 700px) {
    .footer {
      flex-direction: column;
      align-items: center;
    }
  }
</style>
