---
const posts = await Astro.glob("../pages/posts/terms/*.{md,mdx}");
posts.sort(
  (a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date)
);
console.log(posts);

const recentPost = posts.slice(0, 4);
console.log(recentPost);
---

<div class="blog-latest">
  <h2>Latest Articles</h2>
  <div class="blog-latest-wrapper">
    {
      recentPost.map((info) => (
        <div class="blog-card">
          <div class="blog-card__img">
            <img src={info.frontmatter.image} alt={info.frontmatter.alt} />
          </div>
          <h4>{info.frontmatter.title}</h4>
          <p>{info.frontmatter.shortdesc}</p>
          <p>{info.frontmatter.date}</p>
          <a href={`/articole/${info.frontmatter.slug}`}>Citeste mai mult</a>
        </div>
      ))
    }
  </div>
  <a class="allarticles" href="/articole">Afla mai multe</a>
</div>
